@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="page-body">
    <div class="container">
        <div class="row page-start">
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-6">   
                <h1 class="text-center">Error</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2></div>
            <div class="col-sm-12 col-md-3"></div>
        </div>
@if (Model.ShowRequestId)
{
    <div class="row">
            <div class="col-sm-12">
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
            </div>
    </div>

}
<div class="row">
    <div class="col-sm-12">
        <h3>Development Mode</h3>
        <p>
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p>
            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
        </p>
    </div>
</div>
</div>
</div>