@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="page-body container">
    <div class="row page-start">
        <div class="col-md-12">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <p class="text-center">Thank you for confirming your email..</p>
            <hr />
        </div>
    </div>
</div>
</div>